<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mysql-jdbc.properties"></properties>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!-- 配置 mybatis 环境 -->
    <environments default="mysql">
        <!--id: 数据源的名称 -->
        <environment id="mysql">
            <!-- 配置事务类型：使用 JDBC 事务（使用 Connection 的提交和回滚） -->
            <transactionManager type="JDBC"/>
            <!-- 数据源 dataSource ：创建数据库 Connection 对象
            type: POOLED  使用数据库的连接池
            -->

            <dataSource type="POOLED">
                <!-- 连接数据库的四个要素 -->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 告诉 mybatis 要执行的 sql 语句的位置 src/main/java/com/gaotai/dao/impl/IStudentDao.xml -->
<!--        <mapper resource="com/gaotai/dao/impl/IStudentDao.xml"/>-->


<!--        指定包下的所有 Dao 接口-->
<!--        如：<package name="com.bjpowernode.dao"/>-->
<!--        注意：此种方法要求 Dao 接口名称和 mapper 映射文件名称相同，且在同一个目录中。-->
        <package name="com.gaotai.dao"/>
    </mappers>

</configuration>